/* line 2, ../sass/partials/_minh.scss */
.minh-auto {
  min-height: auto;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-fit {
  min-height: fit-content;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-footer-adj {
  min-height: calc( 100vh - 33px );
  min-height: -o-calc( 100vh - 33px );
  min-height: -moz-calc( 100vh - 33px );
  min-height: -webkit-calc( 100vh - 33px );
}
/* line 11, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 14, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 17, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 20, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}
/* line 23, ../sass/partials/_minh.scss */
.minh-200 {
  min-height: 200px;
}
/* line 26, ../sass/partials/_minh.scss */
.minh-300 {
  min-height: 300px;
}
/* line 29, ../sass/partials/_minh.scss */
.minh-400 {
  min-height: 400px;
}
/* line 32, ../sass/partials/_minh.scss */
.minh-500 {
  min-height: 500px;
}
/* line 35, ../sass/partials/_minh.scss */
.minh-600 {
  min-height: 600px;
}

@media all and (min-width: 576px) {
  /* line 42, ../sass/partials/_minh.scss */
  .minh-sm-auto {
    min-height: auto;
  }
  /* line 45, ../sass/partials/_minh.scss */
  .minh-sm-fit {
    min-height: fit-content;
  }
  /* line 48, ../sass/partials/_minh.scss */
  .minh-sm-25vh {
    min-height: 25vh;
  }
  /* line 51, ../sass/partials/_minh.scss */
  .minh-sm-50vh {
    min-height: 50vh;
  }
  /* line 54, ../sass/partials/_minh.scss */
  .minh-sm-75vh {
    min-height: 75vh;
  }
  /* line 57, ../sass/partials/_minh.scss */
  .minh-sm-100vh {
    min-height: 100vh;
  }
  /* line 60, ../sass/partials/_minh.scss */
  .minh-sm-200 {
    min-height: 200px;
  }
  /* line 63, ../sass/partials/_minh.scss */
  .minh-sm-300 {
    min-height: 300px;
  }
  /* line 66, ../sass/partials/_minh.scss */
  .minh-sm-400 {
    min-height: 400px;
  }
  /* line 69, ../sass/partials/_minh.scss */
  .minh-sm-500 {
    min-height: 500px;
  }
  /* line 72, ../sass/partials/_minh.scss */
  .minh-sm-600 {
    min-height: 600px;
  }
}
@media all and (min-width: 768px) {
  /* line 80, ../sass/partials/_minh.scss */
  .minh-md-auto {
    min-height: auto;
  }
  /* line 83, ../sass/partials/_minh.scss */
  .minh-md-fit {
    min-height: fit-content;
  }
  /* line 86, ../sass/partials/_minh.scss */
  .minh-md-25vh {
    min-height: 25vh;
  }
  /* line 89, ../sass/partials/_minh.scss */
  .minh-md-50vh {
    min-height: 50vh;
  }
  /* line 92, ../sass/partials/_minh.scss */
  .minh-md-75vh {
    min-height: 75vh;
  }
  /* line 95, ../sass/partials/_minh.scss */
  .minh-md-100vh {
    min-height: 100vh;
  }
  /* line 98, ../sass/partials/_minh.scss */
  .minh-md-200 {
    min-height: 200px;
  }
  /* line 101, ../sass/partials/_minh.scss */
  .minh-md-300 {
    min-height: 300px;
  }
  /* line 104, ../sass/partials/_minh.scss */
  .minh-md-400 {
    min-height: 400px;
  }
  /* line 107, ../sass/partials/_minh.scss */
  .minh-md-500 {
    min-height: 500px;
  }
  /* line 110, ../sass/partials/_minh.scss */
  .minh-md-600 {
    min-height: 600px;
  }
}
@media all and (min-width: 992px) {
  /* line 118, ../sass/partials/_minh.scss */
  .minh-lg-auto {
    min-height: auto;
  }
  /* line 121, ../sass/partials/_minh.scss */
  .minh-lg-fit {
    min-height: fit-content;
  }
  /* line 124, ../sass/partials/_minh.scss */
  .minh-lg-25vh {
    min-height: 25vh;
  }
  /* line 127, ../sass/partials/_minh.scss */
  .minh-lg-50vh {
    min-height: 50vh;
  }
  /* line 130, ../sass/partials/_minh.scss */
  .minh-lg-75vh {
    min-height: 75vh;
  }
  /* line 133, ../sass/partials/_minh.scss */
  .minh-lg-100vh {
    min-height: 100vh;
  }
  /* line 136, ../sass/partials/_minh.scss */
  .minh-lg-200 {
    min-height: 200px;
  }
  /* line 139, ../sass/partials/_minh.scss */
  .minh-lg-300 {
    min-height: 300px;
  }
  /* line 142, ../sass/partials/_minh.scss */
  .minh-lg-400 {
    min-height: 400px;
  }
  /* line 145, ../sass/partials/_minh.scss */
  .minh-lg-500 {
    min-height: 500px;
  }
  /* line 148, ../sass/partials/_minh.scss */
  .minh-lg-600 {
    min-height: 600px;
  }
}
@media all and (min-width: 1200px) {
  /* line 156, ../sass/partials/_minh.scss */
  .minh-xl-auto {
    min-height: auto;
  }
  /* line 159, ../sass/partials/_minh.scss */
  .minh-xl-fit {
    min-height: fit-content;
  }
  /* line 162, ../sass/partials/_minh.scss */
  .minh-xl-25vh {
    min-height: 25vh;
  }
  /* line 165, ../sass/partials/_minh.scss */
  .minh-xl-50vh {
    min-height: 50vh;
  }
  /* line 168, ../sass/partials/_minh.scss */
  .minh-xl-75vh {
    min-height: 75vh;
  }
  /* line 171, ../sass/partials/_minh.scss */
  .minh-xl-100vh {
    min-height: 100vh;
  }
  /* line 174, ../sass/partials/_minh.scss */
  .minh-xl-200 {
    min-height: 200px;
  }
  /* line 177, ../sass/partials/_minh.scss */
  .minh-xl-300 {
    min-height: 300px;
  }
  /* line 180, ../sass/partials/_minh.scss */
  .minh-xl-400 {
    min-height: 400px;
  }
  /* line 183, ../sass/partials/_minh.scss */
  .minh-xl-500 {
    min-height: 500px;
  }
  /* line 186, ../sass/partials/_minh.scss */
  .minh-xl-600 {
    min-height: 600px;
  }
}
@media all and (min-width: 1400px) {
  /* line 194, ../sass/partials/_minh.scss */
  .minh-xxl-auto {
    min-height: auto;
  }
  /* line 197, ../sass/partials/_minh.scss */
  .minh-xxl-fit {
    min-height: fit-content;
  }
  /* line 200, ../sass/partials/_minh.scss */
  .minh-xxl-25vh {
    min-height: 25vh;
  }
  /* line 203, ../sass/partials/_minh.scss */
  .minh-xxl-50vh {
    min-height: 50vh;
  }
  /* line 206, ../sass/partials/_minh.scss */
  .minh-xxl-75vh {
    min-height: 75vh;
  }
  /* line 209, ../sass/partials/_minh.scss */
  .minh-xxl-100vh {
    min-height: 100vh;
  }
  /* line 212, ../sass/partials/_minh.scss */
  .minh-xxl-200 {
    min-height: 200px;
  }
  /* line 215, ../sass/partials/_minh.scss */
  .minh-xxl-300 {
    min-height: 300px;
  }
  /* line 218, ../sass/partials/_minh.scss */
  .minh-xxl-400 {
    min-height: 400px;
  }
  /* line 221, ../sass/partials/_minh.scss */
  .minh-xxl-500 {
    min-height: 500px;
  }
  /* line 224, ../sass/partials/_minh.scss */
  .minh-xxl-600 {
    min-height: 600px;
  }
}
/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}
