@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");

.comingsoon,.error,.privacy{
    &-s1{
        background-color: #666!important;
        background-blend-mode: multiply!important;
        background-position-x: center!important;
    }
}
.navbar{
    &-logo{
        height: $logo__height;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width:767px){
    .navbar{
        &-nav{
            backdrop-filter: blur(5px); 
            background-color: #fff;
            border: 1px solid #999;
            opacity: 0.9;
            padding: 10px;
        }
    }
}